*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
	font-family: arial,helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.section{
	text-align:center;
}






 /* Demos Menu
  * --------------------------------------- */

  svg {

	display: block;
  width: 900px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	transform: scale(.5);
}






	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}



  /* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3,
  #section4,
    #slide1,
    #slide2{
		background-size: cover;
		background-attachment: fixed;
	}

  /* Defining each sectino background and styles
	* --------------------------------------- */
  #section0{
    background-color: #fafafa;
  }

	#section2{
		background-image: url(imgs/bg3.jpg);
		padding: 6% 0 0 0;
	}

  #section3 p {
    margin-top: 2em;
	margin-bottom: -3.5em;
	text-align: center;
	line-height: 1.5;
  }

  #section3 a {
    	color: #575a89;

  }


  #section4{
    background-image: url(imgs/bg4.jpg);
    padding: 6% 0 0 0;
  }
	#section3 h1{
		color: #000;
	}
  #section4 h1{
    color: #000;
  }


  	/*Adding background for the slides
  	* --------------------------------------- */
  	#slide1{
  		background: linear-gradient(#eaeef3,#eaeef3);

  	}
  	#slide2{
  		background-image: url(imgs/bg5.jpg);
  		padding: 6% 0 0 0;
  	}
    /*Adding background color for the section
  	* --------------------------------------- */

    #section0{

  		background: linear-gradient(#22c1c3,#fafafa);
  	}

		#section2{

			background: linear-gradient(#eaeef3,#eaeef3);
		}


		/*Adding background color for the section
  	* --------------------------------------- */

		.container
		{
		  position: relative;
		  display: flex;
		  justify-content: space-around;
		  align-items: center;
		  flex-wrap: wrap;
		  width: 1100px;
		}
		.container .card
		{
		  width: 320px;
		  margin: 20px;
		  padding: 40px 30px;
		  background: #ebf5fc;
		  border-radius: 40px;
		  box-shadow: -6px -6px 20px rgba(255,255,255,1), 6px 6px 20px rgba(0,0,0,0.1);
		}
		.container .card:hover
		{
		  box-shadow: inset -6px -6px 20px rgba(255,255,255,0.5), inset 6px 6px 20px rgba(0,0,0,0.05);
		}
		.container .card .imgBx
		{
		  position: relative;
		  text-align: center;
		}
		.container .card .imgBx img
		{
		  max-width: 120px;
		}
		.container .card .contentBx
		{
		  position: relative;
		  margin-top: 20px;
		  text-align: center;
		}
		.container .card .contentBx h2
		{
		  color: #32a3b1;
		  font-weight: 700;
		  font-size: 1.4em;
		  letter-spacing: 2px;
		}
		.container .card .contentBx p
		{
		  color: #32a3b1;
		}
		.container .card .contentBx a
		{
		  display: inline-block;
		  padding: 10px 20px;
		  margin-top: 15px;
		  border-radius: 40px;
		  color: #32a3b1;
		  font-size: 16px;
		  text-decoration: none;
		  box-shadow: -4px -4px 15px rgba(255,255,255,1), 4px 4px 15px rgba(0,0,0,0.1);
		}
		.container .card .contentBx a:hover
		{
		  box-shadow: inset -4px -4px 10px rgba(255,255,255,0.5), inset 4px 4px 10px rgba(0,0,0,0.1);
		}
		.container .card a:hover span
		{
		  display: block;
		  transform: scale(0.98);
		}
		.container .card:hover .imgBx,
		.container .card:hover .contentBx
		{
		  transform: scale(0.98);
		}


		.card-neumorphic {
	border-radius: 20px;
	background-color: #eaeef3;
	box-shadow: 20px 20px 40px #c7cacf, -20px -20px 40px #ffffff;
}

.img-neumorphic {
	border-radius: 10px;
	background-color: #eaeef3;
	box-shadow: 10px 10px 20px #c7cacf, -10px -10px 20px #ffffff;
}

.user-neumorphic {
	border-radius: 9999px;
	background-color: #eaeef3;
	box-shadow: 10px 10px 20px #c7cacf, -10px -10px 20px #ffffff;
}

.tag-neumorphic {
	border-radius: 10px;
	background-color: #eaeef3;
	box-shadow: 5px 5px 20px #c7cacf, -5px -5px 20px #ffffff;
}
