
body{
	font-family: arial,helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.section{
	text-align:center;
}






 /* Demos Menu
  * --------------------------------------- */

  svg {

	display: block;
  width: 900px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	transform: scale(.5);
}






	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}



  /* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3,
  #section4,
    #slide1,
    #slide2{
		background-size: cover;
		background-attachment: fixed;
	}

  /* Defining each sectino background and styles
	* --------------------------------------- */
  #section0{
    background-color: #fafafa;
  }

	#section2{
		background-image: url(imgs/bg3.jpg);
		padding: 6% 0 0 0;
	}

  #section3 p {
    margin-top: 2em;
	margin-bottom: -3.5em;
	text-align: center;
	line-height: 1.5;
  }

  #section3 a {
    	color: #575a89;

  }


  #section4{
    background-image: url(imgs/bg4.jpg);
    padding: 6% 0 0 0;
  }
	#section3 h1{
		color: #000;
	}
  #section4 h1{
    color: #000;
  }


  	/*Adding background for the slides
  	* --------------------------------------- */
  	#slide1{
  		background-image: url(imgs/bg2.jpg);
  		padding: 6% 0 0 0;
  	}
  	#slide2{
  		background-image: url(imgs/bg5.jpg);
  		padding: 6% 0 0 0;
  	}
    /*Adding background color for the section
  	* --------------------------------------- */

    #section0{

  		background: linear-gradient(#22c1c3,#fafafa);
  	}
